    .demo {
    	color:#000;
        cursor:pointer;
        line-height: 2em;
    }
    .demo:hover {
    	color:#F00;
    }
    .ease {
    	transition:all 2s ease;
    }
    .ease-in {
    	transition:all 2s ease-in;
    }
    .ease-out {
    	transition:all 2s ease-out;
    }
    .linear {
    	transition:all 2s linear;
    }
    .cubic-bezier {
        transition: all 2s cubic-bezier(.89,-0.93,.2,1.58);
    }
    .box {
    	width:80px;
        height:80px;
        line-height:80px;
        text-align:center;
        background:#eee;
        display:inline-block;
        cursor:pointer;
    }
    .scale:hover {
    	transform:scale(2);
    }
    .rotate:hover {
    	transform:rotate(30deg); /*rotateX基於Ｘ軸旋轉;rotateY基於Y軸旋轉*/
    }
    .origin {
        transform-origin: right top;
    }
    .skew:hover {
    	transform:skew(30deg);
    }
    .translate:hover {
    	transform:translate(10px,20px);/*translateX水平移動;translateY垂直移動*/
    }
    .animation {
    	animation:ball 3s infinite alternate;
        animation-play-state: paused;
    }
    .forwards {
        animation:ball 3s 1;
        animation-fill-mode:forwards;
        animation-play-state: paused;
    }
    @keyframes ball {
    	0%{transform:translateX(300px) rotate(0deg);}/*套用多個tranform時，用空白連接*/
        50%{transform:translateX(300px) rotate(0deg);}
        100%{transform:translateX(800px) rotate(360deg);border-radius:50%;background: #f00;}
    }
    .center {
        position: relative;
        left: 50%;
        transform:translateX(-50%);
    }